.editor-post-title__block .editor-post-title__input {
    font-size: 30px;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }

.editor-block-list__block {

    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #929292;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin: 0 0 20px;
        color: #333;
        line-height: 1.4;
    }

    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    .theme-heading {
        font-size: 14px;
        letter-spacing: 1.3px;
        margin: 0 0 20px;
        text-transform: uppercase;

        .text::before {
            content: '\f105';
            font-family: 'FontAwesome';
            font-size: 18px;
            font-weight: 600;
            color: #13aff0;
            padding-right: 6px;
        }
    }

    p {
        margin: 0 0 20px;
    }

    abbr[title],
    dfn[title] {
        cursor: help;
    }

    del {
        vertical-align: baseline;
        text-decoration: line-through;
        color: #aaa;
    }

    code,
    kbd,
    pre,
    samp {
        font-size: 16px;
    }

    pre {
        margin: 20px 0;
        padding: 20px;
        color: #2080ad;
        background-color: #fafafa;
    }

    code {
        color: #2080ad;
    }

    blockquote {
        font-style: italic;
        margin: 20px 40px;
        padding-left: 20px;
        border-left-width: 3px;
        border-style: solid;
        border-color: #13aff0;

        cite {
            position: relative;
            display: block;
            padding: 10px 0 0 20px;
            color: #555;
            &:before {
                position: absolute;
                left: 0;
                content: "\2014";
            }
        }
    }

    q:before,
    q:after,
    blockquote:before,
    blockquote:after {
        content: "";
    }

    address {
        display: block;
        margin: 0 0 20px;
    }

    ul,
    ol {
        margin: 15px 0 15px 0;
    }

    ol {
        list-style-type: decimal;
    }

    ol ol {
        list-style: upper-alpha;
    }

    ol ol ol {
        list-style: lower-roman;
    }

    ol ol ol ol {
        list-style: lower-alpha;
    }

    li ul,
    li ol {
        margin: 0 0 0 25px;
    }

    dl {
        margin: 20px;
    }

    dt {
        font-weight: 700;
    }

    dd {
        margin-bottom: 20px;
    }
}

.mce-content-body {
    a {
        color: #333;

        &:hover {
            color: #13aff0;
        }
    }

    a.light {
        color: #fff;

        &:hover {
            color: #13aff0;
        }
    }

    a, a:hover, a:focus {
        text-decoration: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
}

.editor-writing-flow {
    height: fit-content;
}