#top-bar-wrap {
	position: relative;
	background-color: #fff;
	font-size: 12px;
	border-bottom: 1px solid $color-9;
	z-index: 10;
}

#top-bar {
	padding: 8px 0;
}

#top-bar-inner {
	position: relative;
}

.top-bar-left {
	float: left;
}

.top-bar-right {
	float: right;
}

.top-bar-centered {
	float: none;
	text-align: center;
}
