{
    "presets": [
        "@wordpress/default",
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-transform-runtime"
    ]
}