# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea

# Sass
.sass-cache

# Grunt
/node_modules/
/deploy/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Zip File
flash.zip

# Package Json file
/package-lock.json