#oceanwp-post-list {
	z-index: 1;
	overflow: hidden;

	article img {
		width: 100%;
	}
}

/* Next/Prev buttons */
#oceanwp-post-list .owl-theme {
	.owl-controls {
		margin: 0;
		
		.owl-prev, .owl-next {
			font-size: 25px;
			line-height: 46px;
			position: absolute;
			z-index: 10;
			top: 50%;
			display: block;
			overflow: hidden;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			transition: all .3s ease-in-out;
		    -webkit-transition: all .3s ease-in-out;
		    -moz-transition: all .3s ease-in-out;
		    -o-transition: all .3s ease-in-out;
		    -ms-transition: all .3s ease-in-out;
			text-align: center;
			opacity: 0;
			color: $color-1;
			border: 1px solid $color-1;

			&:hover {
				color: $color-17;
				background-color: $color-1;
			}
		}

		.owl-prev {
			left: 20px;
		}

		.owl-next {
			right: 20px;
		}
	}

	&:hover .owl-controls .owl-prev,
	&:hover .owl-controls .owl-next {
		opacity: 1;
	}
}

/* Style one */
#oceanwp-post-list.one {

	article {
		position: relative;
	}

	.slide-overlay-wrap {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transition: all .3s ease-in-out;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
		text-align: center;
		background: rgba(0, 0, 0, .2);

		&:before {
			display: inline-block;
			height: 100%;
			content: '';
			vertical-align: middle;
		}
	}

	article:hover .slide-overlay-wrap {
		background: rgba(0, 0, 0, .3);
	}

	.slide-overlay {
		z-index: 100;
		display: inline-block;
		width: 75%;
		vertical-align: middle;
	}

	.slide-overlay,
	.oceanwp-post-category a,
	h2 a,
	.oceanwp-post-date a {
		color: $color-1;
	}

	.oceanwp-post-category:hover {
		color: $color-5;
		background-color: $color-1;

		a {
			color: $color-5;
		}
	}

	.line {
		display: block;
		width: 50px;
		margin: 10px auto;
		border-top: 2px solid $color-1;
	}

	h2 {
		font-size: 45px;
		font-weight: 600;
		line-height: 1.2;
		display: block;
		margin: 0;
		padding-bottom: 5px;
		color: $color-1;
	}

	.oceanwp-post-date {
		font-size: 10px;
		display: block;
		margin: 15px 0 20px;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.readmore {
		font-size: 12px;
		line-height: 1.4;
		display: inline-block;
		padding: 8px 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-1;
		border: 1px solid $color-9;
		border-radius: 20px;

		&:hover {
			border-color: $color-5;
			background-color: $color-5;
		}
	}

	.owl-theme .owl-controls .owl-prev,
	.owl-theme .owl-controls .owl-next {
		border-radius: 50%;
	}
}

#oceanwp-post-list.one .oceanwp-post-category,
#oceanwp-post-list.two .oceanwp-post-category {
	font-size: 10px;
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 15px;
	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 20px;
	background-color: $color-5;
}

/* Style two */
#oceanwp-post-list.two .owl-theme .owl-controls {
	.owl-prev, .owl-next {
		font-size: 18px;
		line-height: 26px;
		width: 30px;
		height: 30px;

		&:hover {
			color: $color-5;
		}
	}
}

#oceanwp-post-list.two {
	position: relative;

	article {
		position: relative;
	}

	img {
		width: 100%;
	}

	.slide-overlay-wrap,
	.oceanwp-post-excerpt {
		transition: all 1s cubic-bezier(.165, .84, .44, 1);
	    -webkit-transition: all 1s cubic-bezier(.165, .84, .44, 1);
	    -moz-transition: all 1s cubic-bezier(.165, .84, .44, 1);
	    -o-transition: all 1s cubic-bezier(.165, .84, .44, 1);
	    -ms-transition: all 1s cubic-bezier(.165, .84, .44, 1);
	}

	.slide-overlay-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px;
		background-color: rgba(0, 0, 0, .4);
	}

	article:hover .slide-overlay-wrap {
		background-color: $color-5;
	}

	.slide-overlay,
	.oceanwp-post-category a,
	h2 a,
	.oceanwp-post-excerpt {
		color: $color-1;
	}

	.oceanwp-post-category {
		font-size: 12px;
		padding: 4px 12px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}

	article:hover .oceanwp-post-category {
		color: $color-5;
		background-color: $color-1;

		a {
			color: $color-5;
		}
	}

	h2 {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 10px;
		text-transform: capitalize;
	}

	.oceanwp-post-excerpt {
		overflow: hidden;
		max-height: 0;

		p {
			margin: 0 0 10px;
		}
		
		.readmore {
			font-size: 10px;
			line-height: 1.4;
			display: inline-block;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $color-1;
		}
	}

	article:hover .oceanwp-post-excerpt {
		max-height: 100px;
	}
}