#blog-entries .type-page {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;

    .entry-summary p:last-child {
        margin-bottom: 0;
    }
}