.site-footer {
	position: relative;
}

/**
 * Footer widgets
 */
#footer-widgets {
	background-color: $color-3;
	padding: 30px 0;
	margin: 0 -15px;

	.footer-box {
		padding: 0 15px;
		margin: 0;

		.footer-widget {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
		}

		.widget-title {
			color: $color-1;
		}

		a {
			color: $color-1;

			&:hover {
				color: $color-5;
			}
		}
	}

	#wp-calendar caption,
	#wp-calendar th,
	#wp-calendar tbody,
	.contact-info-widget i,
	.mailchimp-widget input[type="email"],
	.posts-thumbnails-widget li,
	.social-widget li a {
		border-color: $color-11;
	}

	.mailchimp-widget input[type="email"]:focus {
	    border-color: $color-5;
	}

	.tagcloud a {
		background-color: $color-3;
		border-color: $color-2;

	    &:hover {
		    background-color: $color-14;
		    color: $color-1;
		    border-color: $color-11;
		}
	}
}