ul.meta {
	display: inline-block;
	width: 100%;
	color: $color-15;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;

	li {
		float: left;
		line-height: 1.3;

	    &:after {
			padding: 0 6px;
			font-weight: bold;
		}

	    &:last-child:after {
	    	display: none;
	    	padding: 0;
		}

		a {
			color: $color-15;

		    &:hover {
				color: $color-5;
			}
		}

		i {
			display: inline-block;
			padding-right: 6px;
			font-size: 17px;
			color: $color-5;
		}
	}
}

ul.bsp-class-default li:after { content: '-'; }

ul.bsp-class-modern li:after { content: '|'; }

ul.bsp-class-none li:after { content: ''; margin: 0 5px; }


/*------------------------------------*
	Single Post Styling
*------------------------------------*/
.single-post ul.meta {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	font-size: 14.5px;
	line-height: 1.3;
	border-bottom: 1px solid $color-9;
	padding-bottom: 15px;

	li {
		line-height: 1.5;

		&:after {
			padding: 0 8px;
		}

		i {
			font-size: 17px;
			padding-right: 9px;
		}
	}
}

.single-post ul.ms-class-default li:after { content: '-'; }

.single-post ul.ms-class-modern li:after { content: '|'; }

.single-post ul.ms-class-none li:after { content: ''; margin: 0 10px; }

/*------------------------------------*
	Phone Landscape
*------------------------------------*/
@media only screen and (max-width: 480px) {

	ul.meta {
		margin-bottom: 12px;

		li {
			margin-bottom: 8px;
		}
	}

}