body.has-blog-grid {
	.oceanwp-row.blog-grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 auto;
		height: auto!important;

		@media (max-width: 959px) {
			[class*="tablet-span_1_of_"] {
				&.tablet-span_1_of_2 { width: 50%; }
				&.tablet-span_1_of_3 { width: 33.333%; }
				&.tablet-span_1_of_4 { width: 25%; }
			}
		}

		@media (max-width: 767px) {
			[class*="mobile-span_1_of_"] {
				&.mobile-span_1_of_1 { width: 100%; }
				&.mobile-span_1_of_2 { width: 50%; }
				&.mobile-span_1_of_3 { width: 33.333%; }
			}
		}

	}
}

.blog-entry.grid-entry {
	justify-content: flex-start;

	.blog-entry-inner {
		padding: 0 1.25rem 1.25rem;
		border: 1px solid $color-7;
	}

	.thumbnail {
		margin: 0 -1.25rem;
	}

	.blog-entry-header {
		margin: 1rem 0 1rem;

		.entry-title {
			font-size: 18px;
		}
	}

	.blog-entry-summary {
		line-height: 1.6;
		margin-top: 0.625rem;
	}

	.blog-entry-readmore {
		margin-top: 1rem;

		a {
			display: inline-block;
		    font-size: 12px;
		    line-height: 1.2;
		    padding-bottom: 0.19rem;
		    border-bottom: 1px solid;
		    text-transform: capitalize;

		    i {
		    	margin-left: 0.5rem;
		    }

			svg.owp-icon {
				margin-left: 0.7rem;
			}
		}
	}
}