/**
 *  Gallery Format
 */
.gallery-format {
    position: relative;
    overflow: hidden;

	img {
		display: block;
	    position: relative;
	    width: 100%;
	    margin-bottom: 0;
	}

	.slides > li {
	    float: left;
	}

	&.owl-theme .owl-controls {
		margin-top: 0;

		.owl-buttons {
			position: absolute;
		    bottom: 0;
		    right: 0;
		    text-align: center;
		}

		.owl-prev, .owl-next {
		    display: inline-block;
		    background-color: rgba(0, 0, 0, 0.6);
		    color: $color-1;
		    width: 30px;
		    height: 35px;
		    line-height: 35px;
		    font-size: 20px;
		    text-align: center;
		    opacity: 0;
		    visibility: hidden;
		    cursor: pointer;
		    z-index: 10;
		    transition: all .3s ease 0s;

		    &:hover {
		    	background-color: rgba(0,0,0,0.9);
			    color: $color-1;
			}
		}
	}

	&.owl-theme:hover .owl-controls .owl-prev,
	&.owl-theme:hover .owl-controls .owl-next {
	    opacity: 1;
	    visibility: visible;
	}
}