/**
 * Single Post Author bio
 */
#author-bio {
	position: relative;
	margin-top: 30px;
	padding: 30px 0 0 130px;
	border-top-width: 1px;
	border-style: solid;
	border-color: $color-9;

	.author-bio-avatar,
	.author-bio-avatar img {
	    @include border-radius( 50% );
	}

	.author-bio-avatar {
	    position: absolute;
	    top: 30px;
	    left: 20px;
		border: 3px solid $border-color;

		img {
		    width: 80px;
			height: 80px;
		}
	}

	.author-bio-content {
	    position: relative;
	    overflow: hidden;
	}

	.author-bio-title {
		display: inline-block;
	    font-size: 18px;
	    margin: 0 0 10px;
	    text-transform: capitalize;
	}

	.author-bio-description p:last-child {
	    margin: 0;
	}
}

.author #author-bio {
	margin: 0 0 30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
}