.appearance_page_oceanwp-welcome .about-wrap .clr:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
.appearance_page_oceanwp-welcome .about-wrap a { text-decoration: none; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease; }
.appearance_page_oceanwp-welcome .about-wrap a:focus { -webkit-box-shadow: none; box-shadow: none; }
.appearance_page_oceanwp-welcome .about-wrap .title-wrap { margin: 8px 0 30px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-title { float: left; margin: 0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-title .version { font-size: 13px; font-weight: 700; padding: 6px 12px; border-radius: 3px; margin-left: 12px; background-color: #fff; color: #13aff0; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap { float: right; margin: 0; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li { float: left; margin: 0; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a { display: inline-block; width: 50px; height: 50px; line-height: 50px; border: 1px solid #ccc; border-radius: 50%; margin-left: 10px; text-align: center; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a i { line-height: inherit; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.twitter { color: #46d4fe; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.twitter:hover { background-color: #46d4fe; color: #fff; border-color: #46d4fe; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.facebook { color: #37589b; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.facebook:hover { background-color: #37589b; color: #fff; border-color: #37589b; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.github { color: #60b044; }
.appearance_page_oceanwp-welcome .about-wrap .social-wrap li a.github:hover { background-color: #60b044; color: #fff; border-color: #60b044; }

.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.col-2 { float: left; width: 49%; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.col-2.second { float: right; clear: none; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.col-2 .github-link { display: block; }

.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc { display: block; position: relative; padding: 40px 80px; background: #fff; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 30px; text-align: center; clear: both; box-sizing: border-box; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.blue { border-color: #13aff0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc h2.bloc-title { position: relative; margin: 0 0 30px; padding: 0 0 20px; font-size: 20px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc h2.bloc-title:after { content: ''; position: absolute; bottom: 0; left: 50%; margin-left: -30px; width: 60px; height: 2px; background-color: #13aff0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc p { font-size: 15px; line-height: 1.8; color: #777; margin: 0 0 20px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc p:last-child { margin: 0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc p.themecloud-price { font-size: 13px; text-transform: uppercase; letter-spacing: 0.6px; color: #32b6c0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc p.themecloud-price .small-text { display: block; color: #777; font-size: 12px; text-transform: lowercase; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc .oceanwp-btn { display: block; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc .oceanwp-button { display: inline-block; font-size: 12px; font-weight: 600; color: #333; border-bottom: 1px solid; padding-bottom: 2px; text-transform: uppercase; letter-spacing: 1px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc .oceanwp-button:hover { color: #13aff0; }

.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.customize ul.oceanwp-list li p { margin: 0 0 10px; }

.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list { margin: 0 -26px 20px -26px; border-bottom: 1px solid #eee; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list .option-title { display: block; margin: 0 0 13px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list .option-link { display: inline-block; font-size: 12px; color: #13aff0; border-bottom: 1px solid; padding-bottom: 2px; margin: 0; letter-spacing: 0.6px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list .option-link:hover { color: #0b7cac; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li { position: relative; float: left; width: 25%; border-top: 1px solid #eee; padding: 26px; margin-bottom: 0;  box-sizing: border-box; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; width: 1px; background-color: #eee; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li:nth-child(4n+1) { clear: both; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li:nth-child(4n):after { right: auto; left: -1px; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li a { display: block; margin: 0 0 13px; color: #13aff0; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li a:hover { color: #0b7cac; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li a .price { color: #45B964; }
.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li p { font-size: 12px; line-height: 1.6; }

/* Responsive */
@media only screen and (max-width: 767px) {
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.col-2 { float: none; width: 100%; }
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc.col-2.second { float: none; clear: none; }
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li { float: none; width: 100%; }
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li:after { display: none; }
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc ul.oceanwp-list li:nth-child(4n+1) { clear: none; }
}

@media only screen and (max-width: 480px) {
	.appearance_page_oceanwp-welcome .about-wrap .social-wrap { display: none; }
	.appearance_page_oceanwp-welcome .about-wrap .oceanwp-bloc { padding: 20px 30px; }
}