/*!
 * Project   : OceanWP WordPress Theme
 * Purpose   : Easy Digital Downloads Tweaks
 * Author    : Nick
 */
/* =Ajax Add To Cart Button
-------------------------------------------------------------- */
.edd_purchase_submit_wrapper {
  position: relative;
}

.edd_purchase_submit_wrapper li {
  list-style-type: none;
}

.edd_purchase_submit_wrapper .edd-cart-ajax-alert {
  display: none;
}

.edd_purchase_submit_wrapper .edd-add-to-cart {
  position: relative;
}

.edd_purchase_submit_wrapper .edd-add-to-cart a {
  text-decoration: none;
  display: none;
  position: relative;
  overflow: hidden;
}

.edd_purchase_submit_wrapper .edd-add-to-cart a.edd-has-js {
  display: inline-block;
}

.edd_purchase_submit_wrapper .edd-cart-ajax {
  display: none;
  position: relative;
  left: -35px;
}

.edd_purchase_submit_wrapper .edd-submit.edd-ajax-loading {
  padding-right: 30px;
}

.edd_purchase_submit_wrapper .edd-add-to-cart {
  position: relative;
}

.edd_purchase_submit_wrapper .edd-add-to-cart .edd-add-to-cart-label {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: .1s opacity !important;
  -moz-transition: .1s opacity !important;
  -ms-transition: .1s opacity !important;
  -o-transition: .1s opacity !important;
  transition: .1s opacity !important;
}

.edd_purchase_submit_wrapper .edd_go_to_checkout:after {
  font-family: 'simple-line-icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  content: '\e035';
  margin-left: 6px;
}

.edd_purchase_submit_wrapper .edd-add-to-cart
.edd-loading,
.edd_purchase_submit_wrapper .edd-loading:after {
  border-radius: 50%;
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.edd_purchase_submit_wrapper .button:after,
.edd_purchase_submit_wrapper .button:before {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edd_purchase_submit_wrapper .edd-loading {
  -webkit-animation: edd-spinning 1.1s infinite linear;
  animation: edd-spinning 1.1s infinite linear;
  border-top: 0.2em solid rgba(255, 255, 255, 0.2);
  border-right: 0.2em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
  border-left: 0.2em solid #fff;
  font-size: 0.75em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: .1s opacity !important;
  -moz-transition: .1s opacity !important;
  -ms-transition: .1s opacity !important;
  -o-transition: .1s opacity !important;
  transition: .1s opacity !important;
}

.edd_purchase_submit_wrapper .edd-loading.edd-loading-ajax {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0.25em;
  vertical-align: middle;
  color: #fff;
}

.edd_purchase_submit_wrapper .edd-loading.edd-discount-loader {
  display: inline-block;
  position: relative;
  left: auto;
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
}

.edd_purchase_submit_wrapper .edd-loading.edd-loading-ajax {
  opacity: 1;
}

@-webkit-keyframes edd-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes edd-spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#edd_checkout_form_wrap .edd-cart-adjustment .edd-apply-discount.edd-submit {
  display: inline-block;
}

.edd-add-to-cart[data-edd-loading] .edd-add-to-cart-label {
  opacity: 0;
  filter: alpha(opacity=0);
}

.edd-add-to-cart[data-edd-loading] .edd-loading,
.edd-discount-loader.edd-loading {
  opacity: 1;
  filter: alpha(opacity=100);
}

.edd-cart-added-alert {
  color: #567622;
  display: block;
  position: absolute;
}

.edd_downloads_list .button {
  float: none;
  display: inline-block;
  background-color: transparent;
  color: #848494;
  padding: 5px 12px;
  border: 3px double #e4e4e4;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-transform: none;
}

.edd_downloads_list .button:hover {
  background-color: transparent;
  color: #13aff0;
  border-color: #13aff0;
}

.edd_downloads_list .button:hover .edd-loading {
  border-color: #13aff0;
}

/* =Downloads Shortcode
-------------------------------------------------------------- */
.edd_downloads_list:after {
  content: "";
  display: table;
  clear: both;
}

.edd_download {
  float: left;
}

.edd_download_columns_1 .edd_download {
  width: 100%;
}

.edd_download_columns_2 .edd_download {
  width: 50%;
}

.edd_download_columns_0 .edd_download,
.edd_download_columns_3 .edd_download {
  width: 33%;
}

.edd_download_columns_4 .edd_download {
  width: 25%;
}

.edd_download_columns_5 .edd_download {
  width: 20%;
}

.edd_download_columns_6 .edd_download {
  width: 16.6%;
}

.edd_download_inner {
  padding: 0 8px 8px;
  margin: 0 0 10px;
}

.edd_download_columns_2 .edd_download:nth-child(2n+1),
.edd_download_columns_3 .edd_download:nth-child(3n+1),
.edd_download_columns_4 .edd_download:nth-child(4n+1),
.edd_download_columns_5 .edd_download:nth-child(5n+1),
.edd_download_columns_6 .edd_download:nth-child(6n+1) {
  clear: left;
}

.edd_download_image {
  max-width: 100%;
}

.edd_download .edd_price {
  margin-bottom: 10px;
}

#edd_download_pagination {
  clear: both;
}

/* =Grid
-------------------------------------------------------------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .edd_downloads_list.oceanwp-row.tablet-col .col {
    clear: none;
  }
  .edd_downloads_list.oceanwp-row.tablet-1-col .edd-download {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-2-col .edd-download:nth-child(2n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-3-col .edd-download:nth-child(3n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-4-col .edd-download:nth-child(4n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-5-col .edd-download:nth-child(5n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-6-col .edd-download:nth-child(6n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-7-col .edd-download:nth-child(7n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.tablet-1-col .edd-download {
    width: 100% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-2-col .edd-download {
    width: 50% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-3-col .edd-download {
    width: 33.33% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-4-col .edd-download {
    width: 25% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-5-col .edd-download {
    width: 20% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-6-col .edd-download {
    width: 16.66% !important;
  }
  .edd_downloads_list.oceanwp-row.tablet-7-col .edd-download {
    width: 14.28% !important;
  }
}

@media only screen and (max-width: 480px) {
  .edd_downloads_list.oceanwp-row.mobile-col .col {
    clear: none;
  }
  .edd_downloads_list.oceanwp-row.mobile-1-col .edd-download {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-2-col .edd-download:nth-child(2n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-3-col .edd-download:nth-child(3n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-4-col .edd-download:nth-child(4n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-5-col .edd-download:nth-child(5n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-6-col .edd-download:nth-child(6n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-7-col .edd-download:nth-child(7n + 1) {
    clear: both;
  }
  .edd_downloads_list.oceanwp-row.mobile-1-col .edd-download {
    width: 100% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-2-col .edd-download {
    width: 50% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-3-col .edd-download {
    width: 33.33% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-4-col .edd-download {
    width: 25% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-5-col .edd-download {
    width: 20% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-6-col .edd-download {
    width: 16.66% !important;
  }
  .edd_downloads_list.oceanwp-row.mobile-7-col .edd-download {
    width: 14.28% !important;
  }
}

/* =Archive Page Styling
-------------------------------------------------------------- */
.edd_downloads_list .owp-content-left .edd_download_inner {
  text-align: left;
}

.edd_downloads_list .owp-content-center .edd_download_inner {
  text-align: center;
}

.edd_downloads_list .owp-content-right .edd_download_inner {
  text-align: right;
}

.edd_downloads_list > div, .edd_downloads_list form {
  margin-bottom: 12px;
}

.edd_downloads_list .edd_download_image {
  margin-bottom: 20px;
}

.edd_downloads_list .edd_download_categories {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edd_downloads_list .edd_download_categories a {
  color: #999;
}

.edd_downloads_list .edd_download_categories a:hover {
  color: #13aff0;
}

.edd_downloads_list .edd_download_title a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
}

.edd_downloads_list div.edd_price {
  font-size: 18px;
  color: #3fc387;
}

/* =Single Page Styling
-------------------------------------------------------------- */
.single-download .edd-download div, .single-download .edd-download h2, .single-download .edd-download form {
  margin-bottom: 12px;
}

.single-download .edd_download_image {
  position: relative;
  float: left;
  width: 52%;
  margin-bottom: 0;
}

.single-download .edd_download_summary {
  float: right;
  width: 44%;
  margin-bottom: 36px;
}

.single-download .edd_download_content {
  padding-top: 30px;
  clear: both;
}

.single-download .edd_download_title {
  font-size: 24px;
  padding: 0 0 20px;
  margin: 0 0 10px;
  border-bottom: 1px solid #f1f1f1;
  letter-spacing: 0.6px;
}

.single-download .edd_price {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  margin: 20px 0 0;
  color: #0b7cac;
}

.single-download .edd_download_purchase_form {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 20px;
}

.single-download .edd_download_purchase_form ul {
  margin-left: 0;
}

.single-download .edd_download_purchase_form ul li {
  list-style-type: none;
}

.single-download .edd_download_categories,
.single-download .edd_download_tags {
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
  color: #787878;
}

/*------------------------------------------------------------------
Easy Digital Downloads Cart
-------------------------------------------------------------------*/
.current-shop-items-dropdown {
  position: absolute;
  top: 100%;
  right: -20px;
  background-color: #fff;
  z-index: 10000;
  border-top: 3px solid transparent;
  text-align: left;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  visibility: hidden;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.current-shop-items-dropdown .widgettitle {
  display: none;
}

.current-shop-items-dropdown .edd-cart-number-of-items {
  display: none !important;
}

.eddmenucart-toggle-drop_down:hover .current-shop-items-dropdown,
.show-cart .eddmenucart-toggle-drop_down .current-shop-items-dropdown {
  visibility: visible;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}

.boxed-layout .current-shop-items-dropdown {
  right: 0;
}

.current-shop-items-dropdown {
  /* Cart spacious style */
}

.current-shop-items-dropdown .widget_edd_cart_widget {
  padding: 10px;
}

.current-shop-items-dropdown .widget_edd_cart_widget li {
  padding: 7px 10px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  min-height: 100%;
}

.current-shop-items-dropdown .widget_edd_cart_widget li.cart_item.empty {
  border: none;
}

.current-shop-items-dropdown .widget_edd_cart_widget li:first-child {
  border-top: none;
}

.current-shop-items-dropdown .widget_edd_cart_widget li:last-child {
  border-bottom: none;
}

.current-shop-items-dropdown .widget_edd_cart_widget li:first-child, .current-shop-items-dropdown .widget_edd_cart_widget li:last-child {
  min-height: 100%;
}

.current-shop-items-dropdown .widget_edd_cart_widget li .edd-cart-item-title {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.current-shop-items-dropdown .widget_edd_cart_widget li .edd-cart-item-price {
  color: #b2b2b2;
  font-weight: normal;
}

.current-shop-items-dropdown .widget_edd_cart_widget li a.remove {
  right: 20px;
  margin-top: -17px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: #b3b3b3;
  border: 1px solid #e6e6e6;
}

.current-shop-items-dropdown .widget_edd_cart_widget li a.remove:hover {
  color: #13aff0;
  border-color: #13aff0;
}

.current-shop-items-dropdown .widget_edd_cart_widget .edd_total {
  border-top-width: 0;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  color: #797979;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: none;
}

.current-shop-items-dropdown .widget_edd_cart_widget .edd_total .cart-total {
  float: right;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 1px;
}

.current-shop-items-dropdown .widget_edd_cart_widget .edd_total:after {
  content: '';
  display: table;
  clear: both;
}

.current-shop-items-dropdown .widget_edd_cart_widget .edd_checkout {
  margin: 0;
  padding: 20px;
}

.current-shop-items-dropdown .widget_edd_cart_widget .edd_checkout a {
  display: block;
  padding: 7px 8px;
  text-align: center;
  letter-spacing: 2px;
  background-color: transparent;
  color: #666;
}

.current-shop-items-dropdown .spacious .owp-mini-cart {
  padding: 20px;
}

.current-shop-items-dropdown .spacious .owp-mini-cart .widget_edd_cart_widget ul li {
  padding: 14px 20px;
}

.current-shop-items-dropdown .spacious .owp-mini-cart .edd_total {
  padding: 20px;
}

.current-shop-items-dropdown .spacious .owp-mini-cart .edd_checkout a {
  padding: 14px 8px;
}

/* Cart bag style */
.bag-style {
  position: relative;
  display: inline-block;
}

.eddmenucart-total {
  margin-right: 7px;
}

.eddmenucart-total span {
  color: #333;
}

.eddmenucart-cart-icon {
  display: inline-block;
}

.eddmenucart-cart-icon .eddmenucart-count {
  position: relative;
  display: inline-block;
  min-width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 1.7em;
  font-weight: bold;
  border: 2px solid #333;
  color: #333;
  padding: 0 3px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.eddmenucart-cart-icon .eddmenucart-count:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 14px;
  height: 8px;
  margin-left: -7px;
  margin-bottom: 0;
  border: 2px solid #333;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bag-style:hover .eddmenucart-cart-icon .eddmenucart-count,
.show-cart .eddmenucart-cart-icon .eddmenucart-count {
  background-color: #13aff0;
  color: #fff;
  border-color: #13aff0;
}

.bag-style:hover .eddmenucart-cart-icon .eddmenucart-count:after,
.show-cart .eddmenucart-cart-icon .eddmenucart-count:after {
  border-color: #13aff0;
  height: 10px;
}
