/*------------------------------------------------------------------
Woo Wishlist
-------------------------------------------------------------------*/
/* Wishlist icon */
.woo-wishlist-link i {
  margin-right: 3px;
}

/* Wishlist button */
.products .product .yith-wcwl-add-to-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0;
  visibility: hidden;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 10;
}

.products .product .yith-wcwl-add-to-wishlist .feedback {
  display: none;
}

.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  background-color: #fe5252;
  color: #fff;
  border: 2px solid #fe5252;
  text-align: center;
}

.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:before,
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
  content: '\f004';
  font-size: 12px;
  line-height: 28px;
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a {
  background-color: transparent;
  color: #fe5252;
}

.products .product .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover {
  background-color: #fe5252;
  color: #fff;
}

.products .product .yith-wcwl-add-button {
  position: relative;
}

.products .product .yith-wcwl-add-button i {
  margin-right: 0;
}

.products .product .yith-wcwl-add-button .ajax-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.products .product .product-inner:hover .yith-wcwl-add-to-wishlist {
  visibility: visible;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}

.single .summary .yith-wcwl-add-to-wishlist {
  display: inline-block;
  position: relative;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
}

.single .summary .yith-wcwl-add-to-wishlist a {
  position: relative;
}

.single .summary .yith-wcwl-add-to-wishlist a.add_to_wishlist:before {
  content: '\f08a';
  padding-right: 6px;
  vertical-align: top;
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.single .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse:before,
.single .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse:before {
  content: '\f004';
  color: #fe5252;
  padding-right: 6px;
  vertical-align: top;
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.single .summary .yith-wcwl-add-to-wishlist .feedback {
  text-transform: none;
  font-weight: normal;
  margin-right: 6px;
}

/* Table */
.wishlist-title {
  display: none;
}

.woocommerce table.wishlist_table {
  font-size: 100%;
  border-width: 0;
  margin: 0;
}

.woocommerce table.wishlist_table thead {
  display: none;
}

.woocommerce table.wishlist_table a.remove {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e6e6e6;
}

.woocommerce table.wishlist_table.cart a.remove {
  margin-top: 0;
}

.woocommerce table.wishlist_table tfoot td {
  border-width: 0;
}

.woocommerce #content table.wishlist_table.cart a.remove:hover {
  background-color: transparent;
  color: #13aff0;
  border-color: #13aff0;
}

.yith-wcwl-share {
  text-align: center;
}

.yith-wcwl-share h4.yith-wcwl-share-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.yith-wcwl-share li {
  height: auto;
  margin-right: 20px;
}

.yith-wcwl-share li:last-child {
  margin-right: 0;
}

.yith-wcwl-share li a {
  background-image: none !important;
  font-size: 24px;
  width: 1em;
  height: auto;
}

.woocommerce .wishlist_table td.product-add-to-cart a {
  display: inline-block !important;
  padding: 10px 12px;
  min-width: 130px;
  margin-bottom: 0;
  border-radius: 0;
}

/* Wishlist shortcode */
.wishlist-shortcode {
  display: inline-block;
}
