/**
 * Social Icons Widget
 */
.social-widget {
	display: inline-block;
	width: 100%;

	.social-icons {
		margin: 0;
	}

	.rotate a:hover {
		transform: rotate(360deg);
	}

	.zoomout a:hover {
		transform: scale(0.8);
	}

	.float a:hover {
		transform: translateY(-3px);
	}

	li {
	    display: inline-block;
		margin: 3px;
		padding: 0;

		a {
		    display: block;
		    padding: 0;
		    text-align: center;
		}
	}

	.style-light li a,
	.style-dark li a,
	.style-colored li a {
	    width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 16px;
		border-radius: 2px;
	}

	.style-light li {
		a {
		    color: $color-13;
		    border: 1px solid $border-color;
		}

		&.oceanwp-twitter a:hover { color: #46d4fe !important; border-color: #46d4fe !important; }
		&.oceanwp-facebook a:hover { color: #37589b !important; border-color: #37589b !important; }
		&.oceanwp-google-plus a:hover { color: #de5a49 !important; border-color: #de5a49 !important; }
		&.oceanwp-pinterest a:hover { color: #cb2027 !important; border-color: #cb2027 !important; }
		&.oceanwp-dribbble a:hover { color: #ea4c89 !important; border-color: #ea4c89 !important; }
		&.oceanwp-vk a:hover { color: #597BA5 !important; border-color: #597BA5 !important; }
		&.oceanwp-instagram a:hover { color: #3F729B !important; border-color: #3F729B !important; }
		&.oceanwp-linkedin a:hover { color: #3399CC !important; border-color: #3399CC !important; }
		&.oceanwp-tumblr a:hover { color: #2C4762 !important; border-color: #2C4762 !important; }
		&.oceanwp-github a:hover { color: #60b044 !important; border-color: #60b044 !important; }
		&.oceanwp-flickr a:hover { color: #fa4086 !important;border-color: #fa4086 !important; }
		&.oceanwp-skype a:hover { color: #00AFF0 !important; border-color: #00AFF0 !important; }
		&.oceanwp-trello a:hover { color: #0079bf !important; border-color: #0079bf !important; }
		&.oceanwp-foursquare a:hover { color: #2d5be3 !important; border-color: #2d5be3 !important; }
		&.oceanwp-youtube a:hover { color: #C4302B !important; border-color: #C4302B !important; }
		&.oceanwp-vimeo a:hover { color: #1ab7ea !important; border-color: #1ab7ea !important; }
		&.oceanwp-vine a:hover { color: #00bf8f !important; border-color: #00bf8f !important; }
		&.oceanwp-xing a:hover { color: #006464 !important; border-color: #006464 !important; }
		&.oceanwp-yelp a:hover { color: #C41200 !important; border-color: #C41200 !important; }
		&.oceanwp-tripadvisor a:hover { color: #589442 !important; border-color: #589442 !important; }
		&.oceanwp-rss a:hover { color: #ff7900 !important; border-color: #ff7900 !important; }
		&.oceanwp-email a:hover { color: #13aff0 !important; border-color: #13aff0 !important; }
	}

	.style-dark li {
		a {
		    color: $color-2;
		    border: 1px solid $color-2;
		}

		&.oceanwp-twitter a:hover { color: #46d4fe !important; border-color: #46d4fe !important; }
		&.oceanwp-facebook a:hover { color: #37589b !important; border-color: #37589b !important; }
		&.oceanwp-google-plus a:hover { color: #de5a49 !important; border-color: #de5a49 !important; }
		&.oceanwp-pinterest a:hover { color: #cb2027 !important; border-color: #cb2027 !important; }
		&.oceanwp-dribbble a:hover { color: #ea4c89 !important; border-color: #ea4c89 !important; }
		&.oceanwp-vk a:hover { color: #597BA5 !important; border-color: #597BA5 !important; }
		&.oceanwp-instagram a:hover { color: #3F729B !important; border-color: #3F729B !important; }
		&.oceanwp-linkedin a:hover { color: #3399CC !important; border-color: #3399CC !important; }
		&.oceanwp-tumblr a:hover { color: #2C4762 !important; border-color: #2C4762 !important; }
		&.oceanwp-github a:hover { color: #60b044 !important; border-color: #60b044 !important; }
		&.oceanwp-flickr a:hover { color: #fa4086 !important;border-color: #fa4086 !important; }
		&.oceanwp-skype a:hover { color: #00AFF0 !important; border-color: #00AFF0 !important; }
		&.oceanwp-trello a:hover { color: #0079bf !important; border-color: #0079bf !important; }
		&.oceanwp-foursquare a:hover { color: #2d5be3 !important; border-color: #2d5be3 !important; }
		&.oceanwp-youtube a:hover { color: #C4302B !important; border-color: #C4302B !important; }
		&.oceanwp-vimeo a:hover { color: #1ab7ea !important; border-color: #1ab7ea !important; }
		&.oceanwp-vine a:hover { color: #00bf8f !important; border-color: #00bf8f !important; }
		&.oceanwp-xing a:hover { color: #006464 !important; border-color: #006464 !important; }
		&.oceanwp-yelp a:hover { color: #C41200 !important; border-color: #C41200 !important; }
		&.oceanwp-tripadvisor a:hover { color: #589442 !important; border-color: #589442 !important; }
		&.oceanwp-rss a:hover { color: #ff7900 !important; border-color: #ff7900 !important; }
		&.oceanwp-email a:hover { color: #13aff0 !important; border-color: #13aff0 !important; }
	}

	.style-colored li {
		a {
		    color: $color-1;

		    &:hover {
		    	color: $color-1;
		    }
		}

		&.oceanwp-twitter a { background-color: #46d4fe; }
		&.oceanwp-twitter a:hover { background-color: #39b4d8; }
		&.oceanwp-facebook a { background-color: #37589b; }
		&.oceanwp-facebook a:hover{ background-color: #2d477c; }
		&.oceanwp-google-plus a { background-color: #de5a49; }
		&.oceanwp-google-plus a:hover { background-color: #bb4c3e; }
		&.oceanwp-pinterest a { background-color: #cb2027; }
		&.oceanwp-pinterest a:hover { background-color: #a91d23; }
		&.oceanwp-dribbble a { background-color: #ea4c89; }
		&.oceanwp-dribbble a:hover { background-color: #c64174; }
		&.oceanwp-vk a { background-color: #597BA5; }
		&.oceanwp-vk a:hover { background-color: #486384; }
		&.oceanwp-instagram a { background-color: #3F729B; }
		&.oceanwp-instagram a:hover { background-color: #315a7c; }
		&.oceanwp-linkedin a { background-color: #3399CC; }
		&.oceanwp-linkedin a:hover { background-color: #2678a1; }
		&.oceanwp-tumblr a { background-color: #2C4762; }
		&.oceanwp-tumblr a:hover { background-color: #1d3042; }
		&.oceanwp-github a { background-color: #60b044; }
		&.oceanwp-github a:hover { background-color: #4f9237; }
		&.oceanwp-flickr a { background-color: #fa4086; }
		&.oceanwp-flickr a:hover { background-color: #c63169; }
		&.oceanwp-skype a { background-color: #00AFF0; }
		&.oceanwp-skype a:hover { background-color: #0291c6; }
		&.oceanwp-trello a { background-color: #0079bf; }
		&.oceanwp-trello a:hover { background-color: #0079bf; }
		&.oceanwp-foursquare a { background-color: #2d5be3; }
		&.oceanwp-foursquare a:hover { background-color: #2d5be3; }
		&.oceanwp-youtube a { background-color: #C4302B; }
		&.oceanwp-youtube a:hover { background-color: #982420; }
		&.oceanwp-vimeo a { background-color: #1ab7ea; }
		&.oceanwp-vimeo a:hover { background-color: #1494bd; }
		&.oceanwp-vine a { background-color: #00bf8f; }
		&.oceanwp-vine a:hover { background-color: #01906c; }
		&.oceanwp-xing a { background-color: #006464; }
		&.oceanwp-xing a:hover { background-color: #014646; }
		&.oceanwp-yelp a { background-color: #C41200; }
		&.oceanwp-yelp a:hover { background-color: #940f01; }
		&.oceanwp-tripadvisor a { background-color: #589442; }
		&.oceanwp-tripadvisor a:hover { background-color: #426f32; }
		&.oceanwp-rss a { background-color: #ff7900; }
		&.oceanwp-rss a:hover { background-color: #d46603; }
		&.oceanwp-email a { background-color: #13aff0; }
		&.oceanwp-email a:hover { background-color: #0f8dc2; }
	}

	.style-simple li {
		margin: 0 6px;

	    a {
		    font-size: 16px;
		}
	}
}