/**
 * Custom Links Widget
 */
.custom-links-widget .oceanwp-custom-links {
	margin: 0;

	li {
		padding: 2px 0;

		a {
			display: inline-block;
		    position: relative;
		    font-size: 13px;
			color: $color-2;
		    text-transform: capitalize;

			&:before {
				content: '\f10c';
			    display: inline-block;
			    color: $color-4;
			    font-size: 10px;
			    margin-right: 10px;
			    margin-top: -2px;
			    font-family: FontAwesome;
			    font-weight: normal;
			    vertical-align: middle;
			    zoom: 1;
			}

			&:hover {
				margin-left: 8px;
				color: $color-5;
			}

			&:hover:before {
				color: $color-5;
			}
		}

		&:first-child {
			padding-top: 0;
		}
	}
}